= content_for :head do
  = stylesheet_link_tag 'listings'


#listing-form
  = form_for @listing do |f|
    = f.text_field :name, class: "form-control", :placeholder => "Name"

    %label#accepts Accepts:
    - @currencies.each do |currency|
      .form-check.form-check-inline
        = check_box_tag "currencies[]", currency.id,  @listing.currencies.include?(currency)
        %label{ class:"form-check-label", for:"#{currency.symbol}-Checkbox" }= "#{currency.symbol}"

    = f.text_field :address, class: "form-control", :placeholder => "Address"
    = f.text_field :address2, class: "form-control", :placeholder => "Address 2"
    = f.text_field :city, class: "form-control", :placeholder => "City"
    = f.text_field :state, class: "form-control", :placeholder => "State"
    = f.text_field :zipcode, class: "form-control", :placeholder => "Zipcode"
    = f.text_field :phone, class: "form-control",  :placeholder => "Phone"
    = f.text_field :url, class: "form-control", :placeholder => "Url"

    = submit_tag "Submit", class: "btn btn-red btn-lg btn-block", :type => "submit"
