= content_for :head do
  = stylesheet_link_tag 'listings'

#listing-form
  = form_for @listing do |f|
    .row.form-group
      .col-sm-2= f.label :name
      .col-sm-10= f.text_field :name, class: "form-control", :placeholder => "Satoshi's Cafe"

    .row.form-group
      %label#accepts.col-sm-2 Accepted
      .col-sm-10
        - @currencies.each do |currency|
          .form-check.form-check-inline
            = check_box_tag "currencies[]", currency.id, @listing.currencies.include?(currency), class: "form-check-input", id: currency.symbol
            %label{ class:"form-check-label", for:"#{currency.symbol}"}= currency.symbol

    .row.form-group
      .col-sm-2 Phone
      .col-sm-10= f.text_field :phone, class: "form-control",  :placeholder => "408 867 5309"
    .row.form-group
      .col-sm-2= f.label :url
      .col-sm-10= f.text_field :url, class: "form-control", :placeholder => "http://www.unchainedpodcast.co"
    .row.form-group
      %label.col-sm-2{ class:"form-check-label", for:"online_only"} Online Only
      .col-sm-2= f.check_box :online_only, class: "form-check-input", id: "online_only"
    .form-row#address-components
      .form-group.col-sm-6
        = f.text_field :address, class: "form-control", :placeholder => "Address"
      .form-group.col-sm-6
        = f.text_field :address2, class: "form-control", :placeholder => "Address 2"
      .form-group.col-sm-4
        = f.text_field :city, class: "form-control", :placeholder => "City"
      .form-group.col-sm-4
        = f.select :state, options_for_select(Listing::ALLOWED_STATES), {:prompt => 'State'}, { class: "form-control" }
      .form-group.col-sm-4
        = f.text_field :zipcode, class: "form-control", :placeholder => "Zipcode"

    %hr

    .input-group
      .custom-file
        #inputGroupFile.custom-file-input= f.file_field :images, multiple: true
        %label.custom-file-label{:for => "inputGroupFile"} Upload Images

    %hr
    .input-group.mb-5
      = label_tag "Add Categories"
      = select_tag "categories[]", options_for_select(@categories),{ class: "ui fluid search dropdown", id: "categories", :multiple => "", :prompt => 'Search' }


    .form-row
      = hidden_field_tag :from_google_places, false

    .row.form-group
      .col-sm-2= submit_tag "Submit", class: "btn btn-red btn-lg btn-block ml-2", :type => "submit"


:javascript
  $("#online_only").click(function(){
    console.log("I'm Online Only")
    $("#address-components").slideToggle()
  })

  $('.ui.dropdown').dropdown();
