.card
  .card-body
    %h1.card-title
      %span.mr-2= @listing.name

      -# TODO: Make into a view helper or decorator or whateves
      %span.rating
        - 1.upto(@google_place.rating) do
          .star-icon.d-inline= fa_icon "star"
        - if (@google_place.rating % 1) >= 0.9
          .star-icon.d-inline= fa_icon "star"
        - elsif (@google_place.rating % 1) >= 0.5
          .star-icon.d-inline= fa_icon "star-half"

    .row
      .col-sm-4
        %ul.list-unstyled
          %h4
            Price Level:
            - if @google_place.price_level
              - 1.upto(@google_place.price_level) do
                .bitcoin-orange.d-inline= fa_icon "btc"
            - else
              .primary-color-darker-1.d-inline Unknown

          %li
            = fa_icon "building"
            #{@listing.address}, #{@listing.city}, #{@listing.state}

          %li
            = fa_icon "phone"
            = @google_place.formatted_phone_number
          %li
            %span
              -# = fa_icon "desktop"
              = link_to @google_place.website, @google_place.website, target: "_blank",   class: "detail-url"

      .col-sm-4
        %p.d-inline
          - if @google_place.opening_hours && @google_place.opening_hours['open_now']
            %strong
              Open Now:
              .d-inline.text-success Yes
          - elsif @google_place.opening_hours
            %strong
              Open Now:
              .d-inline.primary-color-darker-1 No
          - else
            Unknown

        - if @google_place.opening_hours
          %strong.mb-0 Hours:
          %ul.list-unstyled
            - @google_place.opening_hours['weekday_text'].each do |day|
              %li= day

      .col-sm-4.pb-2
        %p
          %strong Currencies Accepted

        - @listing.currencies.each do |currency|
          %span= image_tag currency.icon_path

        %p.mt-3.mb-0
          %strong Categories

        - @listing.categories.pluck(:name).each do |category_name|
          %span.badge.badge-primary.categories-badge= category_name

    .row
      .card-header.w-100 Reviews:
      %ul.list-group.list-group-flush
        - @reviews.each do |review|
          %li.list-group-item
            %p
              - 1.upto(review.rating) do
                .star-icon.d-inline= fa_icon "star"

            %blockquote.blockquote
              %p.mb-0.mx-5= review.text
              %footer.blockquote-footer
                = review.author_name
