.col-md-2
.col
  = form_tag listings_path, class: 'form-inline', method: :get do
    .form-group.mx-sm-3.mb-2
      = label_tag :name, 'Name', class: 'sr-only'
      = text_field_tag :name, nil, class: 'form-control', placeholder: 'Name', disabled: true
    .form-group.mx-sm-3.mb-2
      = label_tag :location, 'Location', class: 'sr-only'
      = text_field_tag :location, nil, class: 'form-control', placeholder: 'Location'
    %button.btn.btn-primary.mb-2{:type => 'submit'} Search
.col-md-2
