= content_for :head do
  = stylesheet_link_tag 'listings'

#listings-index
  .row
    .col-4
      = render "map"

    .col-4
      %p
        %ul.list-unstyled
          - @listings.each do |listing|
            %li.media.listing
              = link_to listing_path(listing), :remote => true do
                - if listing.thumbnail_url
                  = image_tag listing.thumbnail_url, class: "mr-3", height: '100'
                - else
                  = image_tag "https://www.thesun.co.uk/wp-content/uploads/2017/11/nintchdbpict000074010725.jpg?strip=all&w=960", class: "mr-3", height: "100"

                .media-body
                  %h4.mt-0.mb-1
                    .name= listing.name

                  %p.currencies
                    Accepted:
                    - listing.currencies.pluck(:symbol).each do |currency_symbol|
                      %span.badge.badge-success= currency_symbol

                  %p.address= "#{listing.address}, #{listing.city}, #{listing.state}"
                  %p.edit-paragraph= link_to "Edit", edit_listing_path(listing), class: "edit-link"

    -# Displayed dynamically via ajax
    .col-4#listing-details
      = render "details"
