-# Update details card
- if @listing.google_places_id
  $("#listing-details").html("#{escape_javascript(render(partial: "google_place_details", locals: { listing: @listing }))}");
- else
  $("#listing-details").html("#{escape_javascript(render(partial: "non_google_place_details", locals: { listing: @listing }))}");


-# Update map
var latitude = parseFloat("#{@listing.lat}")
var longitude = parseFloat("#{@listing.long}")

var newCenter = new google.maps.LatLng(latitude, longitude);
console.log("Listing Center Point: ", newCenter);

googleMap.setCenter(newCenter);
googleMap.setZoom(16)

-# Update photos
$(".carousel-inner").html("#{escape_javascript(render(partial: "carousel"))}");

-# Scroll to top of page
$("html, body").animate({ scrollTop: 0 }, "fast");
