.container-fluid
  .row
    .col.col-sm.col-md
    .col-10.col-sm-8.col-md-5.mt-5
      %h1 Sign Up

      -# Error messages
      - if @user.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - @user.errors.full_messages.each do |message|
              %li{ style: "color: red;" }= message

      = form_for @user do |f|
        .form-group
          = f.label :display_name
          = f.text_field :display_name, placeholder: "Satoshi", class: "form-control", required: true
        .form-group
          = f.label :email
          = f.email_field :email, placeholder: "crypto@kittens.com", class: "form-control", required: true
        .form-group
          = f.label :password
          = f.password_field :password, placeholder: "min 8 characters", class: "form-control", pattern: ".{8,}", title: "Minimum password length is 8. Don't get Mt Goxed.", required: true
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "form-control", required: true

        = submit_tag "Create Account", class: "btn btn-primary"
    .col.col-sm.col-md
