%nav.navbar.navbar-expand-sm.navbar-light#primary-navbar-mobile
  = link_to root_path, class: "navbar-brand" do
    = image_tag "corner_logo.png", height: 70
    = image_tag "beta-icon.png", height: 50

  %button.navbar-toggler{ "aria-controls": "navbar-nav",
                          "aria-expanded": "false",
                          "aria-label": "Toggle navigation",
                          "data-target": "#navbar-nav",
                          "data-toggle": "collapse",
                          type: "button" }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse.justify-content-end#navbar-nav
    %ul.navbar-nav.nav-pills.ml-auto
      %li.nav-item.mr-1{ class: request.path == "/listings/new" ? "active" : "" }
        = link_to "Add Listing", new_listing_path, class: "nav-link"
      %li.nav-item.mr-1{ class: request.path == "/contact" ? "active" : "" }
        = link_to "Contact Us", contact_path, class: "nav-link"
      %li.nav-item.mr-1{ class: request.path == "/donate" ? "active" : "" }
        = link_to "Donate", donate_path, class: "nav-link"        
      - if current_user && current_user.admin?
        %li.nav-item.mr-1{ class: request.path == "/admin/currencies" ? "active" : "" }
          = link_to "Currencies", admin_currencies_path, class: "nav-link"

      - if current_user
        %li.nav-item
          = link_to "Logout", logout_path, class: "btn btn-outline-success my-2.my-sm-0"
      - else
        %li.nav-item
          = link_to "Login / Sign Up", login_path, class: "btn btn-outline-success my-2.my-sm-0"

  // Hide on horizonal. Formatting isn't working.
  .d-sm-none.mobile-tagline
    Spend your crypto at the corner store and everywhere
