.container-fluid
  .row
    .col
      = link_to "Add a Currency", new_admin_currency_path, class: "btn btn-warning"
    .col-5
      %h1 Currencies

      %ul.list-unstyled
        - @currencies.each do |currency|
          %li.media
            = image_tag "http://icons.iconarchive.com/icons/froyoshark/enkel/256/Bitcoin-icon.png", class: "mr-3", height: 75
            .media-body
              %h5.mt-0.mb-1= currency.name
              = currency.symbol
              = link_to "edit", edit_admin_currency_path(currency)
    .col
