= content_for :head do
  = stylesheet_link_tag 'listings'

#listings-index

  #mobile-search-bar= render "layouts/search"

  - if @google_place
    .row
      .card#map-card
        #update-size-container
          = link_to "Larger", "#", class: "btn btn-primary btn-sm btn-outline-success map-button  ", id: "larger-map-button"
          = link_to "Smaller", "#", class: "btn btn-primary btn-sm btn-outline-success map-button ", id: "smaller-map-button"
        -# https://developers.google.com/maps/documentation/javascript/adding-a-google-map
        #map

  .row#mobile-listing-details
    -# Displayed dynamically via ajax
    = render "details"

  .row
    .col
      #listing-cards.card-deck.d-flex.flex-column
        - @listings.each do |listing|
          .card
            = link_to listing_path(listing), :remote => true do
              .card-body{onclick: "setActive(this)"}
                %h5.card-title.mb-1= truncate listing.name, length: 29
                %p.card-text.mb-1
                  Accepted:
                  - listing.currencies.each do |currency|
                    %span= image_tag "crypto_icons/32/color/#{currency.symbol.downcase}.png", height: 12

                %address.card-text.mb-0= truncate "#{listing.address}, #{listing.city}", length: 35
                .card-text
                  -# I dont know why css formating breaks if you remove the link.
                  - if current_user && listing.editable_by?(current_user)
                    = link_to "", "#"
                  - else
                    = link_to "", "#"


              .img-container
                - if listing.thumbnail_url
                  %img{src: listing.thumbnail_url, width: 200}
                - else
                  %img{src: "https://www.thesun.co.uk/wp-content/uploads/2017/11/nintchdbpict000074010725.jpg?strip=all&w=960"}

  .row
    .col#map-photos
    - if @google_place
      .card#photo-card
        #carouselControls.carousel.slide{"data-ride" => "carousel"}
          = render "carousel"
          %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselControls", :role => "button"}
            %span.carousel-control-prev-icon{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.carousel-control-next{"data-slide" => "next", :href => "#carouselControls", :role => "button"}
            %span.carousel-control-next-icon{"aria-hidden" => "true"}
            %span.sr-only Next




-# TODO: DRY up. This also lives in the non-mobile haml file
:javascript
  $("#larger-map-button").click( function(event) {
    event.preventDefault();

    var height = $("#map-card").height()
    if (height < 110) {
      $("#map-card").height(150)
      $("#smaller-map-button").slideToggle()
    } else {
      $("#map-card").height(300)
      $("#larger-map-button").slideToggle()
    }
  })

  $("#smaller-map-button").click( function(event) {
    event.preventDefault();

    var height = $("#map-card").height()
    if (height > 200) {
      $("#map-card").height(150)
      $("#larger-map-button").slideToggle()
    } else {
      $("#map-card").height(100)
      $("#smaller-map-button").slideToggle()
    }
  })

  function setActive(element) {
    $(".card-body").removeClass("active")
    $(element).addClass("active");
  }

  console.log("Center Point: ", gon.centerPoint)
  window.centerPoint = gon.centerPoint
  console.log("gon.coordinates: ", gon.coordinates)
  var listingCoordinates = gon.coordinates;

  function initMap() {
    console.log("Initializeing Map...")
    var map = new google.maps.Map(document.getElementById('map'), {
      center: new google.maps.LatLng(gon.centerPoint['latitude'], gon.centerPoint['longitude']),
      zoom: gon.centerPoint['zoom']
    });

    // Used by show.js.haml when selecting individual
    window.googleMap = map;

    var infoWindow = new google.maps.InfoWindow;

    listingCoordinates.forEach(function(coordinate) {
      var marker = new google.maps.Marker({
        map: map,
        position: {lat: coordinate[0], lng: coordinate[1]},
        label: "฿"
      })
    })
  };


-# This has to be called after javascript above loads
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAPS_API_KEY"]}&callback=initMap"}
