!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }

    %title Corner
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = include_gon
    = javascript_include_tag "application", "data-turbolinks-track": "reload"

    / Global site tag (gtag.js) - Google Analytics
    - if Rails.env.production?
      %script{ async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-118755192-1" }
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        gtag("config", gon.google_analytics_key);

    = yield :head

  %body
    .container-fluid
      = render "layouts/header"
      = render "layouts/flash_messages"

    = yield
